table {
	width:100%;
	margin-bottom:20px;
}
td {
  width: 10%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#pixel{
	
}

#pixelJSON{
	
}

